libs/parson/*
tower-of-au
*.o
*.a
*.so
*.dlib
*.dll
*.swp
*.pyc
*.DS_store
*.dSYM
*.gch
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
.syntastic_cpp_config
.ycm_extra_conf.py
xcuserdata
